<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellen.mapper.CollecanimalsMapper">

    <select id="getCollectionList" resultMap="com.hellen.mapper.AnimalInfoMapper.animalInfo" >

        select animal.*
        from tb_collecanimals ca
                 join tb_animal animal on animal.id = ca.animalId
        where ca.userid = #{userId}
          and animal.animalState = #{animalState}
    </select>
</mapper>